<!doctypea html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>

<body>

  <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3&appId=1394896453983156&autoLogAppEvents=1"></script>

  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1394896453983156',
        cookie     : true,
        xfbml      : true,
        version    : 'v3.3'
      });

      FB.AppEvents.logPageView();

    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

     FB.getLoginStatus(function(response) {
         statusChangeCallback(response);
     });
     function test() {
			var access_token = FB.getAuthResponse()['accessToken'];
			console.log(access_token)
			console.log('Welcome!  Fetching your information.... ');
			FB.api('/me', function(response) {
				console.log('Successful login for: ' + response.name);
				$.ajax({
					type: 'POST',
					url: '/fbconnect?state={{STATE}}',
					processData: false,
					data: access_token,
					contentType: 'application/octet-stream; charset=utf-8',
					success: function(result) {
						// Handle or verify the server response if necessary.
						if (result) {
							$('#login').html('Login Successful!</br>' + result + '</br>Redirecting...')
							setTimeout(function() {
								window.location.href = "/lifters";
							}, 4000);
						} else {
							$('#login').html('Failed to make a server-side call. Check your configuration and console.');
						}
					}
				});
			});
		}
  </script>

<fb:login-button
  scope="public_profile,email"
  onlogin="test();">
</fb:login-button>

<script>
function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
}
</script>

<!-- <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div> -->

<!--
<script>
var finished_rendering = function() {
  console.log("finished rendering plugins");
  var spinner = document.getElementById("spinner");
  spinner.removeAttribute("style");
  spinner.removeChild(spinner.childNodes[0]);
}
FB.Event.subscribe('xfbml.render', finished_rendering);
</script>
<div id="spinner"
    style="
        background: #4267b2;
        border-radius: 5px;
        color: white;
        height: 40px;
        text-align: center;
        width: 250px;">
    Loading
    <div
    class="fb-login-button"
    data-max-rows="1"
    data-size="large"
    data-button-type="continue_with"
    data-use-continue-as="true"
    ></div>
</div> -->

</body>
</html>
